	.top_list{
		
		height:100px;
		
	}
	.list{
		clear: both; 
		float: left;
		width:25%;
	    color: #1f4787;
	    font-size: 18px;
	    margin-left:30px
	}
	
	.sub_list{
		float: left;
	    width: 65%;
	    padding-bottom: 35px;
	}
	
	